openapi: 3.1.0
info: {title: Office Central Agent API, version: 1.2.0, description: "Transport failures and unsigned HTTP errors are non-authoritative. Only a valid Ed25519-signed state with a newer revision may change cached access."}
servers: [{url: "https://panel.ponet.ir/api/v1"}]
paths:
  /agent/activate:
    post:
      summary: Bind a license and issue an installation credential plus initial signed state
      operationId: activateAgent
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/ActivationRequest'}}}}
      responses: {'201': {description: Activated}, '403': {$ref: '#/components/responses/AuthoritativeFailure'}, '409': {$ref: '#/components/responses/AuthoritativeFailure'}}
  /agent/state:
    post: {summary: Synchronize the newest non-expiring signed access state, security: [{installationToken: []}], parameters: [{$ref: '#/components/parameters/Nonce'}, {$ref: '#/components/parameters/Timestamp'}], responses: {'200': {description: Signed state; transport failure never changes cached access}, '403': {$ref: '#/components/responses/AuthoritativeFailure'}}}
  /licenses/activate:
    post:
      summary: Backward-compatible activation alias
      operationId: activateLicense
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/ActivationRequest'}}}}
      responses: {'201': {description: Activated}, '403': {$ref: '#/components/responses/AuthoritativeFailure'}, '409': {$ref: '#/components/responses/AuthoritativeFailure'}}
  /installations/heartbeat:
    post: {summary: Report health and prove the current hardware binding, security: [{installationToken: []}], parameters: [{$ref: '#/components/parameters/Nonce'}, {$ref: '#/components/parameters/Timestamp'}], responses: {'200': {description: Accepted}, '403': {$ref: '#/components/responses/AuthoritativeFailure'}}}
  /installations/lease:
    post: {summary: Backward-compatible alias returning the non-expiring signed state, security: [{installationToken: []}], parameters: [{$ref: '#/components/parameters/Nonce'}, {$ref: '#/components/parameters/Timestamp'}], responses: {'200': {description: Signed state}, '403': {$ref: '#/components/responses/AuthoritativeFailure'}}}
  /packages/token:
    post: {summary: Issue a short-lived one-use package URL, security: [{installationToken: []}], parameters: [{$ref: '#/components/parameters/Nonce'}, {$ref: '#/components/parameters/Timestamp'}], responses: {'200': {description: Token issued}}}
  /packages/download/{token}:
    get: {summary: Download a private package once, parameters: [{name: token, in: path, required: true, schema: {type: string}}], responses: {'200': {description: ZIP payload}, '404': {description: Invalid or expired token}}}
components:
  securitySchemes: {installationToken: {type: http, scheme: bearer}}
  parameters:
    Nonce: {name: X-Request-Nonce, in: header, required: true, schema: {type: string, maxLength: 128}}
    Timestamp: {name: X-Request-Timestamp, in: header, required: true, schema: {type: integer}}
  responses:
    AuthoritativeFailure: {description: Explicit API error for diagnostics; it MUST NOT change the cached signed access state, content: {application/json: {schema: {$ref: '#/components/schemas/Error'}}}}
  schemas:
    ActivationRequest: {type: object, required: [license_key, hostname, hardware], properties: {license_key: {type: string}, hostname: {type: string}, fingerprint_version: {type: integer, enum: [1]}, hardware: {type: object, minProperties: 2}}}
    Error: {type: object, required: [success, code, message, request_id], properties: {success: {const: false}, code: {type: string, enum: [LICENSE_NOT_FOUND, LICENSE_INVALID, LICENSE_EXPIRED, LICENSE_SUSPENDED, LICENSE_REVOKED, LICENSE_INSTALLATION_LIMIT, LICENSE_HARDWARE_MISMATCH, INSTALLATION_NOT_FOUND, INSTALLATION_LOCKED, RELEASE_NOT_AVAILABLE, PACKAGE_NOT_FOUND, INVALID_SIGNATURE, REPLAY_DETECTED, RATE_LIMITED]}, message: {type: string}, request_id: {type: string}}}
